<% provide(:title, 'Home') %>
<h1>OneTeam</h1>
<p>
  This is the home page for the OneTeam system.
</p>
<div class="center hero-unit">

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

