<p id="notice"><%= notice %></p>


<p>
  <ul class="responses">
    <%= render @responses %>
  </ul>
 </p>
 
<%= link_to 'Edit', edit_response_path(@request, response) %> |
<%= link_to 'Destroy', response, method: :delete, data: { confirm: 'Are you sure?' } %>

