<p id="notice"><%= notice %></p>

<p>
  <b>Response:</b>
  <%= @response.response %>
</p>

<%= link_to 'Edit', edit_response_path(@request, response) %> |
<%= link_to 'Destroy', response, method: :delete, data: { confirm: 'Are you sure?' } %>