// Place all the styles related to the Requests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* requests index */

/* requests */

.requests {
  list-style: none;
  margin: 10px 0 0 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

h3 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  text-decoration: underline;
}

  ul.noindent li {
  list-type: none;
  margin: 0;
      overflow: auto;
    padding: 10px 0;
  }
  }

tr {
  list-style: none;
  padding: 10px 0;
  border-top: 1px solid $grayDarker;
  &:last-child {
    border-bottom: 1px solid $grayDarker;
    }

td {
  padding: 10px 0;
    }

td.limit {
  width: 20px;
}

.request {
  display: block;
}
.timestamp {
  color: $grayLight;
}

}